body{
    background-color: black;
}
div{
    color : white;
}
label{
    color: white ;
}
#p1{
    color : #00FF73;
    font-family: "consolas",sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration:  underline;
    font-size: 18px;
}
#p2{
    color : #00FF73;
    font-family: "consolas",sans-serif;
}
#first1{
    background-color: white;
    font-family: "Rowdies";
}